{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-card">
    {{ form_start(registrationForm) }}
        <div class="form-item form-title">
            <h1>Register</h1>
        </div>
        <hr>
        <div class="form-item">
            {{ form_row(registrationForm.email) }}
        </div>
        <div class="form-item">
            {{ form_row(registrationForm.plainPassword, {'label': 'Password'}) }}
        </div>
        <div class="form-item">
            {{ form_row(registrationForm.full_name) }}
        </div>
        <div class="form-terms">
            {{ form_row(registrationForm.agreeTerms) }}
        </div>

        <div class="form-item">
            <button type="submit" class="btn">Register</button>
        </div>
    {{ form_end(registrationForm) }}
    </div>
</div>

    
{% endblock %}
